// List is required to compile the resources into the game when it loads.
// Dynamically loading it has bad results with sounds overtaking each other, even with the wait variable.
#ifdef AI_VOX

// NOTE:  After 10-2-2019, a machine-readable JSON file is available in data/vox_data.json.
// You should no longer need to parse this for third-party tools.
GLOBAL_LIST_INIT(vox_sounds, list(
  {%- for sex, phrases in SEXES.items() %}
  "{{- sex -}}" = list(
    {%- for phrase in phrases %}
    "{{- phrase.id -}}" = '{{- phrase.files[sex] -}}',
    {%- endfor %}
  ),
  {%- endfor %}
))

// I don't think TG uses this shit
// How long each phrase is (in words).  Single-word phrases are skipped for brevity.
/*
var/list/vox_wordlen = list(
  {%- for phrase in PHRASES -%}
  {%- if phrase.wordlen > 1 %}
  "{{- phrase.id -}}" = {{ phrase.wordlen }},
  {%- endif -%}
  {%- endfor %}
)
*/
#endif //AI_VOX
